
#players,
#addQuestions
{
	margin: auto;
	text-align: center;
}

#people,
#question,
#list 
{
	margin: auto;
}

#question,
#list
{
	margin-bottom: 20px;
}

#questionSpacer,
#listSpacer
{
	clear: both;
}

#addButtonGroup {
	position: absolute;
	bottom:20px;
	right: 30px;
}

.playerField,
.questionField
{
	padding-right: 20px;
}

.lightbox {
	display: none;
}

.centered {
	margin-top: 10px;
	text-align: center;
}

.right {
	position: relative;
	float: right;
}